    # Config Type #
#------------------------------------------------
client

    # Connection  #
#------------------------------------------------
dev {{network_device}}
proto {{network_protocol}}
remote {{server_address}} {{server_port}}

    # Speed #
#------------------------------------------------
mssfix 0
fragment 0

    # Reliability #
#------------------------------------------------
float
nobind

persist-key
persist-tun
resolv-retry infinite

    # Auth #
#------------------------------------------------
auth SHA512
auth-nocache

    # SSL #
#------------------------------------------------
cipher AES-256-CBC

    # TLS #
#------------------------------------------------
tls-client
remote-cert-tls server
tls-version-min {{tls_version_min}}
tls-cipher DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-CAMELLIA256-SHA:DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA128-SHA:DHE-RSA-AES128-SHA:CAMELLIA256-SHA:AES256-SHA:CAMELLIA128-SHA:AES128-SHA

    # Logging #
#------------------------------------------------
verb 5

    # Keys and Certificates #
#------------------------------------------------
tls-auth [inline] 1

<key>
{{ client_key.content | b64decode }}
</key>
<cert>
{{ client_cert.content | b64decode }}
</cert>
<ca>
{{ ca_cert.content | b64decode }}
</ca>
<tls-auth>
{{ tls_auth.content | b64decode }}
</tls-auth>
